/* onli style header and footer */
@font-face {
	font-family: 'main_fonts'; 
	src: url(../fonts/main_fonts.ttf); 
    font-weight: normal; 
    font-style: normal; 
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
}
* *, *::before, *::after { 
    animation-play-state: running !important;
  }
body{
    background: #dcc5b3a8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 360px;
}
header,
footer{
    background: #eee0d5;
    width: 90%;
    min-width: 360px;
    height: 150px;
    margin: 0 auto; 
    border: 1px solid white;
    margin-bottom: 5px;
    position: relative;
}
.header_box{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center; 
}
.menu_icon{
    display: none;
    cursor: pointer;
}
.home_page{
    color: deeppink;
    text-decoration: underline;
}

.header_box_left{
    display:flex;
}

@media screen and (max-width: 1050px) {
    body{
        min-width: 360px;
    }
    .header_box_left{
        display:none;
    }
.header_box.active{
        width: 100%;
        height: 400px;
        background: #eee0d5;
        flex-direction: column;
        top: 70px;
        z-index: 100;
    }
    .menu_icon{
        display: block;
        position: absolute;
        right: 0px;
        top: 25px;
        margin-right: 5px;
        z-index: 1000;
	}
    .box_social {
        bottom: 40px;
        right: 10px;
        position: relative;
    }
    .box_social ul{
        flex-wrap: wrap;
        width: 175px;
        height: 100px;
    }
  }
footer .footer_box{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    
}
.header_box_left ul,
.header_box_centr,
.header_box_right ul{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: black;
    font-size: 18px;
    font-family: "main_fonts", sans-serif;
}
.header_box_left ul{
    width: 400px;
}
main{
    min-height: 65vh;
}
a:hover{
    transition: ease 0.2s all;
    color: hotpink;
    text-decoration: underline;
}
.header_img_logo,
.footer_logo{
    width: 200px;
} 
.footer_right,
.footer_left,
.footer_centr{
    width: 170px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_right ul{
    display: flex;
    position: relative;
    top: 20px;
}
.footer_right ul svg{
  width: 55px;
  top: 10px;
  position: relative;
  height: 55px;
}
.footer_right ul svg:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
} 

/* main */
main{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    min-width: 360px;
    width: 100%;
}
.blox_wallpaper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 20px 0;
}
.wallpaper{
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
}


/* .blox_wallpaper>h1 {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 0 tomato,
                 0 0 yellowgreen,
                 0 0 skyblue;
    color: transparent;
    transition: all 1s;
    }
.blox_wallpaper>h1:hover {
    text-shadow: -400px 0 tomato,
                400px 0 yellowgreen,
                0 0 skyblue;
    } */


.blox_wallpaper>p{

}
.video_aboutUs{
    max-width: 1400px;
    width: 100%;
    cursor: pointer;
}

/* name site */
@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");


.name{
    position: relative;
    width: 100%;
    height: 90px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.stage {
  height: 70px;
  width: 150px;
  /* border: 2PX SOLID RED; */
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 30px/0.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS", Helvetica, sans-serif;
  content: "ABA.GE";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20px;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px dodgerblue;
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #0077ea;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-20deg) rotateX(-23deg);
  }
}

/* text effects */
p{
	padding : 1em;
	font-family : monospace;
	font-size:1.1em;
    font-weight: 400;
    letter-spacing:2px;
    line-height: 25px;
    white-space:pre-wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    height: auto;
}
button{
	margin: 10px auto;
    padding-left: 10px;
	text-align:center;
	display:block;
  width: 170px;
  height: 50px;
  background: rgb(231 227 228);
    transition: 0.2s;
	border:0;
	cursor:pointer;
	position: relative;
  box-shadow: 5px 5px 5px black;
	border-radius:50px;
	font-family : monospace;
	font-size:2em;
}
button:hover{
    box-shadow: 1px 1px 3px black;
}
article{
  width:80%;
  margin:auto;
  overflow: hidden;
}


/* animation box shadow video */

:root {
	--gradient-shadow: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
}

.shadow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  max-width: 1400px;
    width: 80%;

	background: linear-gradient(0deg, #000, #262626);
    margin-top: 40px;
    margin-bottom: 20px;
}
.shadow:before,
.shadow:after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	background: var(--gradient-shadow);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
}

.shadow:after {
	filter: blur(20px);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}
