/* onli style header and footer */
@font-face {
	font-family: 'main_fonts'; 
	src: url(../fonts/main_fonts.ttf); 
    font-weight: normal; 
    font-style: normal; 
}
*{
    margin: 0;
    padding: 0;
    font-family: 'main_fonts', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
}
body{
    background: #dcc5b3a8;
}
header,
footer{
    background: #eee0d5;
    width: 90%;
    height: 150px;
    margin: 0 auto; 
    border: 1px solid white;
    margin-bottom: 5px;
}
.header_box{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center; 
}
.menu_icon{
    display: none;
    cursor: pointer;
}
.home_page{
    color: deeppink;
    text-decoration: underline;
}
@media only screen and (max-width: 1050px) {
    .header_box_left{
        display:none;
    }
.header_box.active{
        width: 100%;
        height: 400px;
        background: #eee0d5;
        flex-direction: column;
        top: 70px;
        z-index: 100;
    }
    .menu_icon{
        display: block;
        position: absolute;
        right: 40px;
        top: 40px;
        margin-right: 5px;
        z-index: 1000;
	}
    .box_social {
        bottom: 40px;
        right: 10px;
        position: relative;
    }
    .box_social ul{
        flex-wrap: wrap;

        width: 200px;
        height: 100px;
    }
  }
footer .footer_box{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    
}
.header_box_left ul,
.header_box_centr,
.header_box_right ul{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: black;
    font-size: 18px;
    font-family: "main_fonts", sans-serif;
}
.header_box_left ul{
    width: 400px;
}
main{
    min-height: 65vh;
}
a:hover{
    transition: ease 0.2s all;
    color: hotpink;
    text-decoration: underline;
}
.header_img_logo,
.footer_logo{
    width: 200px;
} 
.footer_right,
.footer_left,
.footer_centr{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_right ul{
    display: flex;
    position: relative;
    top: 20px;
}
.footer_right ul svg{
    width: 60px;
    top: 10px;
    position: relative;
    height: 60px;
}
.footer_right ul svg:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
} 
