main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.blox_content_one{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    background: rgba(230, 229, 229, 0.674);
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.content_one__img{
    width: 500px;
    max-width: 40%;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.194),
    2px -2px 5px rgba(0, 0, 0, 0.445);
}
.content_one__textAreal{
    width:55%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.one_textAreal__name{
    /* font-family: 'main_fonts';  */
    font-size: 22px;
    font-weight: 700;
    margin: 10px;
    height: 30px;
    width: auto;
}
.one_textAreal__text{
    /* font-family: 'main_fonts';  */
    font-size: 18px;
    margin: 10px;
    /* height: 300px; */
    overflow: hidden;
    width: 95%;
}
.btn {
    margin: 10px;
    border: none;
    padding: 5px 24px;
    width: 120px;
    min-height: 40px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    background: white;
    border-radius: 0px;
    box-shadow: none;
  }
  .btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
  }
  .btn .btn-text {
    color: white;
    mix-blend-mode: difference;
  }
  .btn:hover::before {
    background: black;
    width: 100%;
  }
  .video_aboutUs{
    max-width: 500px;
    max-width: 40%;
    height: auto;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.194),
    2px -2px 5px rgba(0, 0, 0, 0.445);
  }
  @media only screen and (max-width: 1050px) {
    .blox_content_one{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0px;

       
    }
    .content_one__img,
    .video_aboutUs{
        max-width: 60%;
        margin: 20px 0;
    }
    .content_one__textAreal{
        width:80%;

    }
    .video_aboutUs{
        margin: 20px 0;
    }
    .blox_content_one.two{
      flex-direction: column-reverse;
    }
  }
  @media only screen and (max-width: 600px) {
    .video_aboutUs{
        width: 300px;
        height: auto;
        border: none;
        border-radius: 10px;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.194),
        2px -2px 5px rgba(0, 0, 0, 0.445);
      }
  }
