main{
    min-height: 41vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blox_contacts_us{
    
    min-height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
     margin: 10px auto;
}
.contacts_us{
    width: 70%;
    height: 70px;
    text-align: center;
    margin: 10px auto;
}
.center-outer {
  display: table;
  width: 100%;
  height: 100%;
  }
  
  .center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  }
  

  
  .bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
  }
  
  .bubbles h1 {
  position: relative;
  margin: 10px 0 0;
  font-family: 'Luckiest Guy', cursive;
  color: dodgerblue;
  z-index: 2;
  font-size: 32px;
  }
  
  .individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
  }
.text_name{
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text_input{
    width: 250px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    padding-left: 10px;
}
.text_input.form-control.name{
  padding-left: 0px;
  text-align: center;
}
#textarea{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 350px;
    min-height: 100px;
    border-radius: 10px;
    resize:vertical;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}
#text_send{
    color: rgb(255, 255, 255);
    text-shadow: 1px -1px 1px black,
                    -1px -1px 1px black,
                    -1px 1px 1px black,
                    1px 1px 1px black;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    cursor: pointer;
    position: relative;
    transition: 0.2s pulsing ease-in-out;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: 10px;
    background-color: #E7D8CC;
    background-repeat: no-repeat;
  }
  #text_send:hover, #text_send:focus {
    -webkit-animation: bubbles 1s forwards ease-out;
            animation: bubbles 1s forwards ease-out;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) -5% 118% / 0.68em 0.68em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 7% 143% / 0.92em 0.92em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) -2% 107% / 1.16em 1.16em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 18% 130% / 0.92em 0.92em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 51% 87% / 0.9em 0.9em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 7% 115% / 0.89em 0.89em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 31% 98% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) -4% 111% / 1.14em 1.14em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 80% 139% / 0.99em 0.99em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 24% 99% / 0.81em 0.81em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 65% 129% / 0.51em 0.51em;
    background-color: #E7D8CC;
    background-repeat: no-repeat;
  }
  
  @-webkit-keyframes bubbles {
    100% {
      background-position: -11% -69%, 4% -79%, -7% 38%, 22% -71%, 44% -8%, 6% 19%, 25% -229%, -1% -64%, 77% -221%, 17% -268%, 71% -133%;
      box-shadow: inset 0 -6.5em 0 gold;
    }
  }
  
  @keyframes bubbles {
    100% {
      background-position: -11% -69%, 4% -79%, -7% 38%, 22% -71%, 44% -8%, 6% 19%, 25% -229%, -1% -64%, 77% -221%, 17% -268%, 71% -133%;
      box-shadow: inset 0 -6.5em 0 gold;
    }
  }

  
  h1 {
    font-size:5em;
    font:bold 3.5vw/1.6 'Signika', sans-serif;
    user-select:none;
   }
   
   h1 span { display:inline-block; animation:float .9s ease-in-out infinite; }
    @keyframes float {
     0%,100%{ transform:none; }
     33%{ transform:translateY(-1px) rotate(-2deg); }
     66%{ transform:translateY(1px) rotate(2deg); }
   }
   body:hover span { animation:bounce .6s; }
   @keyframes bounce {
     0%,100%{ transform:translate(0); }
     25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
     50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
   }
   
   span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
   span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
   span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
   span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }
   
   h1 span:nth-child(2){ animation-delay:.05s; }
   h1 span:nth-child(3){ animation-delay:.1s; }
   h1 span:nth-child(4){ animation-delay:.15s; }
   h1 span:nth-child(5){ animation-delay:.2s; }
   h1 span:nth-child(6){ animation-delay:.25s; }
   h1 span:nth-child(7){ animation-delay:.3s; }
   h1 span:nth-child(8){ animation-delay:.35s; }
   h1 span:nth-child(9){ animation-delay:.4s; }
   h1 span:nth-child(10){ animation-delay:.45s; }
   h1 span:nth-child(11){ animation-delay:.5s; }
   h1 span:nth-child(12){ animation-delay:.55s; }
   h1 span:nth-child(13){ animation-delay:.6s; }
   h1 span:nth-child(14){ animation-delay:.65s; }




